@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // THERE WILL BE MAIN COLORS OF WEBSITE AS VARIABLES
  // EXAMPLE OF USAGE
  --white: #ffffff;
  --black: #333333;
}

body {
  color: var(--black);
}
